.vs/*
build/bin/*
build/vc2019/.vs/*
build/vc2019/Debug/*
build/vc2019/Release/*
build/vc2019/x64/*
build/vc2019/*.user
lib/antlr4/bin/win/x64/Debug Static/antlr4-runtime.lib
lib/antlr4/bin/win/x86/Debug Static/antlr4-runtime.lib
